<h1>About Page</h1>
<%= link_to "Home", root_path %>
<br><br>

<h2>Event Task Management System</h2>

<div class="well">
  You need to create a working, demonstrable and usable project using the Rails 5 framework.The project source code can live on Github and be deployed to Heroku (optional).
  <br>
  You need to use Bootstrap framework for styling the views and pages.
  <br><br>
  You should maintain our coding convention which is specified in that link https://github.com/kreeti/coding_convention
</div>

<div class="well">

  User should be able to manage events and the tasks associated with it.
  <br><br>
  To do this, the followings are needed:-
  <ul>
    <li>User should be able to add / edit events.</li> 
    <li>An event can be associated with one or more tasks.</li>
    <li>Each task when created will also have separate fields beside it to specify date and time to show when the task is scheduled to be completed.</li>
    <li>It should be possible to list, view, edit and delete tasks.</li>
    <li>It should be also be possible to list, view and delete events.</li>
    <li>Users should be able to add / edit expenses and can associate with a task if it is applicable to the task.</li>
    <li>Users should also be able to list, view, and delete expense amounts when required.</li>
  </ul>
</div>

<div class="well">
  <strong>Extension:-</strong>
  <ul>
    <li>Users should be able to sign in the system if he / she does not have any account and will be required to provide name, email id & password while creating account for the first time.</li>
    <li>If the user is an existing user then he / she will be able to login the system.</li>
    <li>While logging in the system if the user email / password provided is wrong then it will show appropriate error messages.</li>
    <li>The system should display the name of the user on the upper right corner of the page when that specific user logs in and will show it as long as the user stays logged in.</li>
    <li>User will be able to assign / allocate each task to another user including self.</li>
    <li>The user can also unassign or deallocate task(s).</li>
    <li>When a task is completed then user should be able to mark the task as done.</li>
    <li>A task can have due date, and if it is not completed on or before time then appropriate messages will be displayed on opening the task details.</li>
  </ul>
</div>